#nav-mobile {
	width: 240px;
}

.copyright {
	font-size: 13px;
	font-style: italic;
}

.pattern-position {
	position: relative;
	height: 100%;
}

.pattern-position main {
	margin-bottom: 30px;
}

.pattern-position footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 30px;
}

#form-usuario .fade-input {
    display: none;
}

#align-button {
	width: 100%;
	clear: both;
}

i.fade-input {
	padding: 0;
	height: 47px;
}

.gender-space {
    display: inline-block;
    margin-bottom: 35px;
    width: 100%;
}

#user-sub {
    display: inline-block;
    padding: 15px 30px;
}

.notification {
	position: fixed;
	top: 120px;
	right: 20px;	
}

.notification-confirm {
	background: #61F797;
    border-radius: 5px;
    border: solid 1px #63E47D;
    padding: 15px 10px;
    font-weight: bold;
    font-size: 16px;
}

#login-page .container {
	max-width: 500px;
	text-align: center;
}

#login-title {
	margin-top: 30px;
	font-size: 20px;
	color: #5FA062;
	font-weight: bold;
}

i.login-submit {
	padding: 0;
	height: 47px;
	margin-left: 12px;
	float: left;
}

#login-signup {
	line-height: 48px;
}

.caronas-title {
	display: block;
	width: 100%;
	background-color: #81c784;
	font-weight: bold;
	color: #ffffff;
	padding: 10px 15px;
}

.caronas-table {
	display: block;
	width: 100%;
	padding: 10px 5px;
	border-bottom: solid 1px #ccc;
	font-style: italic;
}

#form-perfil {
	margin-top: 30px;
}

#form-submit {
	display: none;
}